@model DEPernits.DEPermits_History

@{
    ViewBag.Title = "Create";
}

<h2>Create Permit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset class="form-horizontal">
        <legend>Permit Info</legend>

        @*<div class="editor-label">
                @Html.LabelFor(model => model.DEPermits_History1)
            </div>
            <div class="editor-fieldcol-sm-8">
                @Html.EditorFor(model => model.DEPermits_History1)
                @Html.ValidationMessageFor(model => model.DEPermits_History1)
            </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.DEPermitNumberV, new { @class = "col-sm-3 control-label" })
            <div class="editor-field col-sm-8">
                @Html.TextBoxFor(model => model.DEPermitNumberV, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DEPermitNumberV)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BUSNum, new { @class = "col-sm-3 control-label" })

            <div class="editor-field col-sm-8">
                @*@Html.EditorFor(model => model.BUSNum, new { @class = "form-control" })*@
                @*@Html.EditorFor(model => model.BUSNum, new { htmlAttributes = new { @class = "form-control", @Value = "asddsaf" } })*@
                @*@Html.EditorFor(model => model.BUSNum, new { @Value = "asddsaf" } )*@
                @Html.TextBoxFor(model => model.BUSNum, new { @Value = ViewBag.BUSNum, @class = "form-control" })
                @Html.ValidationMessageFor(model => model.BUSNum)
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.DECarID, "Vehicle", new { @class = "col-sm-3 control-label" })

            <div class="editor-field col-sm-8">
                @Html.DropDownListFor(x => x.DECarID, (IEnumerable<SelectListItem>)ViewBag.DECarID, new { @class = "form-control" })
                @*@Html.DropDownList("DECarID", String.Empty)*@
                @Html.ValidationMessageFor(model => model.DECarID)
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.StatusID, "Permit Status", new { @class = "col-sm-3 control-label" })

            <div class="editor-field col-sm-8">
                @Html.DropDownListFor(x => x.StatusID, (IEnumerable<SelectListItem>)ViewBag.StatusID, new { @class = "form-control" })
                @*@Html.DropDownList("StatusID", String.Empty)*@
                @Html.ValidationMessageFor(model => model.StatusID)
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.DEP_APPDATE, new { @class = "col-sm-3 control-label" })

            <div class="editor-field col-sm-8">
                @Html.TextBoxFor(model => model.DEP_APPDATE, new { @class = "form-control datepkr" })
                @Html.ValidationMessageFor(model => model.DEP_APPDATE)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DEP_RENEWDATE, new { @class = "col-sm-3 control-label" })

            <div class="editor-field col-sm-8">
                @Html.TextBoxFor(model => model.DEP_RENEWDATE, new { @class = "form-control datepkr" })
                @Html.ValidationMessageFor(model => model.DEP_RENEWDATE)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Notes, new { @class = "col-sm-3 control-label" })

            <div class="editor-field col-sm-8">
                @Html.TextAreaFor(model => model.Notes, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Notes)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EmployerName, new { @class = "col-sm-3 control-label" })

            <div class="editor-field col-sm-8">
                @Html.TextBoxFor(model => model.EmployerName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EmployerName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EmployerAddress, new { @class = "col-sm-3 control-label" })

            <div class="editor-field col-sm-8">
                @Html.TextBoxFor(model => model.EmployerAddress, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EmployerAddress)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EmployerEmail, new { @class = "col-sm-3 control-label" })

            <div class="editor-field col-sm-8">
                @Html.TextBoxFor(model => model.EmployerEmail, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EmployerEmail)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EmployerPhone, new { @class = "col-sm-3 control-label" })

            <div class="editor-field col-sm-8">
                @Html.TextBoxFor(model => model.EmployerPhone, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EmployerPhone)
            </div>
        </div>

        @*<div class="editor-label">
                @Html.LabelFor(model => model.EmployersContactsID)
            </div>
            <div class="editor-fieldcol-sm-8">
                @Html.EditorFor(model => model.EmployersContactsID)
                @Html.ValidationMessageFor(model => model.EmployersContactsID)
            </div>*@

        @*<div class="editor-label">
                @Html.LabelFor(model => model.DECarID)
            </div>
            <div class="editor-fieldcol-sm-8">
                @Html.EditorFor(model => model.DECarID)
                @Html.ValidationMessageFor(model => model.DECarID)
            </div>*@




        @*<div class="editor-label">
                @Html.LabelFor(model => model.StatusID)
            </div>
            <div class="editor-fieldcol-sm-8">
                @Html.EditorFor(model => model.StatusID)
                @Html.ValidationMessageFor(model => model.StatusID)
            </div>*@


        @*<div class="editor-label">
                @Html.LabelFor(model => model.DEPermitNumberI)
            </div>
            <div class="editor-fieldcol-sm-8">
                @Html.EditorFor(model => model.DEPermitNumberI)
                @Html.ValidationMessageFor(model => model.DEPermitNumberI)
            </div>*@

        @*<div class="form-group">
                @Html.LabelFor(model => model.EgovID)
            </div>
            <div class="editor-fieldcol-sm-8">
                @Html.EditorFor(model => model.EgovID)
                @Html.ValidationMessageFor(model => model.EgovID)
            </div>*@



        @*<div class="form-group">
                @Html.LabelFor(model => model.Custom1, new { @class = "col-sm-3 control-label" })

                <div class="editor-fieldcol-sm-8">
                    @Html.EditorFor(model => model.Custom1)
                    @Html.ValidationMessageFor(model => model.Custom1)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Custom2)

                <div class="editor-fieldcol-sm-8">
                    @Html.EditorFor(model => model.Custom2, new { @class = "col-sm-3 control-label" })
                    @Html.ValidationMessageFor(model => model.Custom2)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Custom3, new { @class = "col-sm-3 control-label" })

                <div class="editor-fieldcol-sm-8">
                    @Html.EditorFor(model => model.Custom3)
                    @Html.ValidationMessageFor(model => model.Custom3)
                </div>
            </div>*@

        @*<div class="form-group">
                @Html.LabelFor(model => model.Terminated)

                <div class="editor-fieldcol-sm-8">
                    @Html.EditorFor(model => model.Terminated)
                    @Html.ValidationMessageFor(model => model.Terminated)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TerminationDate)

                <div class="editor-fieldcol-sm-8">
                    @Html.EditorFor(model => model.TerminationDate)
                    @Html.ValidationMessageFor(model => model.TerminationDate)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Deleted)

                <div class="editor-fieldcol-sm-8">
                    @Html.EditorFor(model => model.Deleted)
                    @Html.ValidationMessageFor(model => model.Deleted)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DeletionDate)

                <div class="editor-fieldcol-sm-8">
                    @Html.EditorFor(model => model.DeletionDate)
                    @Html.ValidationMessageFor(model => model.DeletionDate)
                </div>
            </div>*@

        @*<div class="form-group">
                @Html.LabelFor(model => model.sys_created_date, new { @class = "col-sm-3 control-label" })

                <div class="editor-fieldcol-sm-8">
                    @Html.EditorFor(model => model.sys_created_date)
                    @Html.ValidationMessageFor(model => model.sys_created_date)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.sys_created_user, new { @class = "col-sm-3 control-label" })

                <div class="editor-fieldcol-sm-8">
                    @Html.EditorFor(model => model.sys_created_user)
                    @Html.ValidationMessageFor(model => model.sys_created_user)
                </div>
            </div>*@



        <p>
            <input type="submit" value="Create" class="btn btn-success" />
        </p>
    </fieldset>
}

<div>
    <ul class="breadcrumb">
        <li>@Html.ActionLink("Back to previous page", null, null, null, new { href = Request.UrlReferrer })</li>
        <li>@Html.ActionLink("Back to List", "Index")</li>
    </ul>



    @*@Html.ActionLink("Back to previous page", null, null, null, new { href = Request.UrlReferrer })*@
    @*@Html.ActionLink("Back to List", "Index")*@
</div>

@section Scripts {


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(document).ready(function () {

            $("#DEP_APPDATE").datepicker().addClass("form-control");
            $("#DEP_RENEWDATE").datepicker().addClass("form-control");

        });


    </script>


}
