@model IEnumerable<DEPernits.vw_DowntownActiveBusinessLicenses>


@{
    ViewBag.Title = "Index";
}

<h2>List of Businesses</h2>

<p>

</p>
<table id="zTable" class="display compact">
    <thead>
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.BLgeeID)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.License_Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.License_Year)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Classification)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.License_Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DBA)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Description)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Employees)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.DBA_Address_Line1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DBA_CityStateZip)
            </th>*@
            @*<th>
                @Html.DisplayNameFor(model => model.DBATelePhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DBAEmail)
            </th>*@
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @*<td>
                        @Html.DisplayFor(modelItem => item.BLgeeID)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.License_Number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.License_Year)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Classification)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.License_Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DBA)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Employees)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.DBA_Address_Line1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DBA_CityStateZip)
                    </td>*@
                @*<td>
                        @Html.DisplayFor(modelItem => item.DBATelePhone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DBAEmail)
                    </td>*@
                <td>
                    @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |*@
                    @*@Html.ActionLink("Details", "Details", new { id = item.BLgeeID }) @*|*@
                    @*@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                </td>
            </tr>
        }
    </tbody>

</table>
@section Scripts {
    @Styles.Render("~/Content/datatblcss")
    @Scripts.Render("~/bundles/jquery")
    @*@Scripts.Render("~/bundles/bootstrapjs")
    @Scripts.Render("~/bundles/datatbljs")*@


<script type="text/javascript">
        $(document).ready(function () {

            $('table[id*=zTable]').dataTable({ //#ContentPlaceHolder1_GridView1

                "iDisplayLength": 25,
                "order": [[3, "asc"]]

            });

        });

        //$(function () {
        //    $('table[id*=zTable]').addClass("asdfasdf");
        //    $('table[id*=zTable]').dataTable({ //#ContentPlaceHolder1_GridView1

        //        "iDisplayLength": 25,
        //        "order": [[3, "asc"]]

        //    });

        //});

</script>

}



